<?xml version="1.0" encoding="UTF-8" ?>

<configuration>

	<header>
		<!-- Meta data about the resulting combined configuration -->
	</header>

	<override>
		<!-- Configuration declarations with override semantics -->
		<properties fileName="config/app.properties" />
		<properties fileName="config/adf-web.properties" config-optional="true" />
		<properties fileName="config/adf-core.properties" config-optional="true" />
		<properties fileName="config/td-common.properties" config-optional="true" />
		<properties fileName="config/market.properties" config-optional="true" />

    </override>

	<additional>
		<!-- Configuration declarations that form a union configuration -->
	</additional>

</configuration>
